.button {
  font-family: "Open Sans", sans-serif;
  display: block;
  box-sizing: border-box;
  background: $green-color1;
  border-radius: 3px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $white-color;
  text-decoration: none;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

.button--rounded {
  line-height: 18px;
  background: transparent;
  border: 3px solid $white-color;
  border-radius: 29px;
}

.button--rounded:hover {
  color: $red-color1;
  background: $white-color;
}

.button--rounded:active {
  color: $red-color2;
}

.button--editor-submit {
  color: $red-color1;
  border-color: $red-color1;
  background: transparent;
}

.button--editor-submit:hover {
  color: $white-color;
  background: $red-color1;
}

.button--editor-submit:active {
  color: $gray-color6;
  background: $red-color1;
}

.button--editor-cancel {
  color: $gray-color1;
  border-color: $gray-color1;
}

.button--editor-cancel:hover {
  color: $gray-color5;
  border-color: $gray-color5;
  background: transparent;
}

.button--editor-cancel:active {
  color: $gray-color6;
  background: $gray-color5;
  border-color: $gray-color5;
}

.button--form-submit {
  width: 100%;
  border: none;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 17px;
}

@media (min-width: $desktop-width) {
  .button--rounded {
    font-size: 21px;
    line-height: 21px;
    padding-top: 15px;
    padding-bottom: 14px;
  }

  .button--editor-submit {
    font-size: 18px;
  }

  .button--editor-cancel {
    font-size: 18px;
  }
}
