.button {
  display: block;
  box-sizing: border-box;
  width: 280px;
  border: none;
  padding-left: 8px;
  padding-right: 10px;
  padding-top: 16px;
  padding-bottom: 17px;
  background-color: $green-color1;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $white-color;
  text-align: center;
  text-transform: uppercase;
}

.button:hover {
  background: $green-color2;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  color: $white-color;
  background: $gray-color3;

}

.button--submit {
  width: 100%;
}

.button--rounded {
  width: 280px;
  border: 3px solid $white-color;
  background: transparent;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 27px 27px 27px 27px;
  color: $white-color;
  text-transform: none;
  text-decoration: none;
}

.button--rounded:hover {
  background: $white-color;
  color: $red-color1;
}

.button--rounded:active {
  color: rgba(210, 40, 86, 0.3);
}

.button--editor {
  width: 100%;
  border: 3px solid $red-color1;
  background: transparent;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 27px 27px 27px 27px;
  color: $red-color1;
  text-transform: none;
}

.button--submit:hover {
  background: $red-color1;
  color: $white-color;
}

.button--submit:active {
  color: rgba(255, 255, 255, 0.3);
  background: $red-color1;
  border: 3px solid $red-color1;
}

.button--cancel {
  border-color: $blue-color1;
  color: $blue-color1;
  opacity: 0.1;
}

.button--cancel:hover {
  background: transparent;
  opacity: 0.3;
}

.button--cancel:active {
  background: $blue-color1;
  color: $white-color;
}

.button--popup {
  width: 100%;

}

@media (min-width: $tablet-width) {
  .button--rounded {
    width: 300px;
  }

  .button--form-submit {
    width: 300px;
  }

  .button--editor {
    width: 260px;
  }

  .button--popup {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .button--rounded {
    font-size: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .button--editor {
    width: 183px;
  }

  .button--success {
    width: 460px;
  }
}
