.button {
  display: block;
  box-sizing: border-box;
  width: 280px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: $green-color1;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $white-color;
  text-align: center;
}

.button--rounded {
  width: 280px;
  border: 3px solid $white-color;
  background: $blue-color3;
  padding-top: 10px;
  padding-bottom: 9px;
  border-radius: 27px 27px 27px 27px;
  color: $white-color;
}

@media (min-width: $tablet-width) {
  .button--rounded {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .button--rounded {
    font-size: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
