.content-title {
  padding-top: 27px;
  padding-bottom: 77px;
  padding-left: 20px;
  padding-right: 20px;
  background: $blue-color1;
}

.content-title--form {
  padding-bottom: 44px;
}

.content-title__title {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  text-align: center;
  color: $white-color;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .content-title {
    padding-top: 65px;
    padding-bottom: 128px;
  }

  .content-title__title {
    font-size: 50px;
    line-height: 68px;
  }

  .content-title--form {
    padding-top: 66px;
    padding-bottom: 59px;
  }
}

@media (min-width: $desktop-width) {
  .content-title {
    padding-top: 59px;
    padding-bottom: 89px;
  }
}
