.content-text {
  padding-top: 44px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.content-text--bottom {
  padding-top: 20px;
  padding-bottom: 42px;
}

.content-text__text {
  font-size: 14px;
  line-height: 30px;
  color: $blue-color1;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .content-text {
    padding-top: 91px;
    padding-bottom: 77px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .content-text--bottom {
    padding-top: 64px;
    padding-bottom: 70px;
  }

  .content-text__text {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .content-text {
    padding-top: 91px;
    padding-bottom: 89px;
    padding-left: 180px;
    padding-right: 180px;
  }
  .content-text--bottom {
    padding-top: 58px;
    padding-bottom: 67px;
    padding-left: 130px;
    padding-right: 130px;
  }
}
