.editor {
  background: $gray-color1;
}

.editor__inner {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 29px;
}

.editor__image {
  display: block;
  width: 100%;
  height: 374px;
  background: black;
  margin-bottom: 42px;
}

.editor__settings-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
  padding-right: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.editor__setting-button {
  background: red;
  border: none;
}

.editor__setting-item--first {
  width: 44px;
  height: 44px;
}

.editor__setting-button--first {
  width: 44px;
  height: 44px;
}

.editor__setting-item--second {
  width: 48px;
  height: 43px;
}

.editor__setting-button--second {
  width: 48px;
  height: 43px;
}

.editor__setting-item--third {
  width: 32px;
  height: 32px;
}

.editor__setting-button--third {
  width: 32px;
  height: 32px;
}

.editor__setting-line {
  display: none;
}

.editor__setting-line--one {
  display: block;
  margin: auto;
  width: calc(100% - 40px);
  height: 14px;
  position: relative;
  margin-bottom: 67px;
}

.editor__setting-line::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  height: 2px;
  background: $blue-color1;
}

.editor__setting-toggle {
  width: 10px;
  height: 10px;
  border: 2px solid $red-color1;
  background: $white-color;
  border-radius: 50%;
  position: absolute;
  right: 33px;
}

.editor__setting-line--active .editor__setting-toggle {
  background: $red-color1;
}

.editor__button {
  margin-bottom: 12px;
}

@media (min-width: $tablet-width) {
  .editor__inner {
    padding-top: 56px;
    height: 400px;
    padding-bottom: 55px;
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 0 20px;
    grid-template-rows: 267px 79px 79px;
  }

  .editor__image {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    width: 300px;
    height: 400px;
  }

  .editor__settings-list {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    margin: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .editor__setting-item {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 24px;
    padding-left: 29px;
    padding-right: 18px;
  }

  .editor__setting-button {
    width: 22px;
    height: 22px;
  }

  .editor__setting-button--first {
    width: 22px;
    height: 22px;
  }

  .editor__setting-item--second {
    padding-top: 26px;
    padding-bottom: 24px;
    padding-left: 28px;
    padding-right: 18px;
  }

  .editor__setting-button--second {
    width: 24px;
    height: 22px;
    margin-top: 2px;
  }

  .editor__setting-item--third {
    padding-top: 26px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 18px;
  }

  .editor__setting-button--third {
    width: 16px;
    height: 16px;
  }

  .editor__setting-line {
    display: block;
    width: 202px;
    height: 2px;
    background: $blue-color1;
    position: relative;
  }

  .editor__setting-line::before {
    display: none;
  }

  .editor__setting-line--one {
    display: none;
  }

  .editor__setting-toggle {
    position: absolute;
    content: "";
    top: -5px;
    left: 25px;
  }

  .editor__setting-toggle--first {
    right: 28px;
    left: auto;
  }

  .editor__setting-toggle--third {
    left: 96px;
  }

  .editor__button--submit {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    height: 55px;
    margin-left: 27px;
  }

  .editor__button--cancel {
    grid-column: 2 / -1;
    grid-row: 3 / -1;
    height: 55px;
    margin-left: 27px;
  }
}

@media (min-width: $desktop-width) {
  .editor {
    padding-left: 130px;
    padding-right: 130px;
  }

  .editor__inner {
    padding-top: 55px;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 60px;
    gap: 0;
    grid-template-columns: 300px 90px 205px 205px;
  }

  .editor__image {
    margin-top: 2px;
  }

  .editor__settings-list {
    margin-left: 0;
    width: 410px;
    grid-column: 3 / -1;
  }

  .editor__setting-item--first {
    padding-top: 0;
    padding-bottom: 14px;
    padding-left: 0px;
    padding-right: 0;
  }

  .editor__setting-button--first {
    width: 44px;
    height: 44px;
  }

  .editor__setting-item {
    padding-right: 30px;
  }

  .editor__setting-item--second {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 0;
  }

  .editor__setting-button--second {
    width: 48px;
    height: 43px;
    margin-top: 2px;
  }

  .editor__setting-item--third {
    padding-top: 18px;
    padding-bottom: 30px;
    padding-left: 6px;
  }

  .editor__setting-button--third {
    width: 32px;
    height: 32px;
  }

  .editor__setting-line {
    width: 288px;
  }

  .editor__setting-toggle {
    position: absolute;
    content: "";
    top: -5px;
    left: 36px;
  }

  .editor__setting-toggle--first {
    right: 40px;
    left: auto;
  }

  .editor__setting-toggle--third {
    left: 136px;
  }

  .editor__button--submit {
    grid-column: 3 / 4;
    grid-row: 3 / -1;
    height: 55px;
    margin-left: 0;
  }

  .editor__button--cancel {
    grid-column: 4 / -1;
    grid-row: 3 / -1;
    height: 55px;
    margin-left: auto;
  }
}
