.features {
  padding-top: 40px;
}

.features__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: $blue-color1;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.features__title:last-of-type {
  margin-bottom: 20px;
}

.features__list {
  list-style: none;
  margin: 0;
  padding-top: 92px;
  padding-bottom: 287px;
  padding-left: 20px;
  padding-right: 20px;

  background-repeat: no-repeat;
  background-image:
    url("../img/features-phone@1x.webp"),
    url("../img/gray-background-mobile@1x.webp");
  background-size:
    155px auto,
    1172px auto;
  background-position:
    50% calc(100% + 41px),
    50% -32px;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/features-phone@2x.webp"),
      url("../img/gray-background-mobile@2x.webp");
  }
}

.features__item {
  text-align: center;
  margin-bottom: 31px;
}

.features__item-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 12px;
}

.features__item-text {
  font-size: 14px;
  line-height: 24px;
  color: $blue-color1;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .features {
    padding-top: 47px;
  }

  .features__title {
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 0;
  }

  .features__title:last-of-type {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .features__list {
    padding-top: 85px;
    padding-bottom: 9px;
    padding-left: 50%;

    background-image:
      url("../img/features-phone@1x.webp"),
      url("../img/gray-background@1x.webp");
    background-size:
      268px auto,
      1200px auto;
    background-position:
      calc(50% - 176px) calc(100% + 65px),
      50% -13px;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/features-phone@2x.webp"),
        url("../img/gray-background@2x.webp");
    }
  }

  .features__item {
    text-align: left;
    margin-bottom: 34px;
  }

  .features__item:nth-of-type(2n) {
    margin-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding-top: 62px;
    padding-bottom: 0;
  }

  .features__top {
    margin-bottom: 30px;
    padding-left: 130px;
    padding-right: 130px;
  }

  .features__title {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 0;
  }

  .features__title:last-of-type {
    margin-bottom: 0;
  }

  .features__list {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 130px;
    padding-right: 130px;
    display: flex;
    flex-wrap: wrap;

    background-image: url("../img/gray-background@1x.webp");
    background-size: 100% auto;
    background-position: 50% 22px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gray-background@2x.webp");
    }
  }

  .features__item {
    width: 31.91%;
    margin-right: 20px;
    box-sizing: border-box;
    padding-top: 384px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 308px auto;
    background-position: 50% 27px;
  }

  .features__item:nth-of-type(1) {
    background-image: url("../img/feature1-phone@1x.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/feature1-phone@2x.webp");
    }
  }

  .features__item:nth-of-type(2) {
    background-image: url("../img/feature2-phone@1x.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/feature2-phone@2x.webp");
    }
  }

  .features__item:nth-of-type(3) {
    background-image: url("../img/feature3-phone@1x.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/feature3-phone@2x.webp");
    }
  }

  .features__item:nth-of-type(2n) {
    margin-bottom: 34px;
  }

  .features__item:nth-of-type(3n) {
    margin-right: 0;
  }

  .features__item-title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 22px;
    background: $gray-color3;
  }

  .features__item-text {
    font-size: 18px;
    line-height: 30px;
  }
}
