.input-block {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-block__label {
  font-size: 14px;
  line-height: 30px;
  color: $red-color1;
  text-transform: uppercase;
  padding-left: 23px;
  margin-bottom: 5px;
}

.input-block__input {
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  border-radius: 3px;
  background: $white-color;
  color: $blue-color1;
  border: 2px solid $gray-color3;
}

.input-block__input:hover {
  border: 2px solid $blue-color1;
}

.input-block__input:active {
  border: 2px solid $red-color1;
}

.input-block__input::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: $blue-color1;
}

@media (min-width: $tablet-width) {
  .input-block {
    flex-direction: row;
    align-items: center;
  }

  .input-block__label {
    padding-left: 0;
    margin-right: 19px;
    margin-top: 7px;
  }

  .input-block__input {
    width: 100%;
    box-sizing: border-box;
  }

  .input-block--contacts {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .input-block__label--contacts {
    margin-top: 10px;
    margin-left: 19px;
  }

  @media (min-width: $desktop-width) {
    .input-block--contacts {
      width: calc(50% - 35px);
    }
  }
}
