.logo {
  width: 74px;
  height: 23px;
}

.logo__image {
  display: block;
  width: 74px;
  height: 23px;
  background: black;
}

.logo--medium {
  width: 145px;
  height: 40px;
}

.logo__image--medium {
  width: 145px;
  height: 40px;
}

@media (min-width: $tablet-width) {
  .logo {
    width: 145px;
    height: 40px;
  }

  .logo__image {
    width: 145px;
    height: 40px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    width: 147px;
    height: 40px;
  }

  .logo__image {
    width: 147px;
    height: 40px;
  }
}
