.logo {
  background: green;
  display: block;
  width: 74px;
  height: 23px;
}

.logo__image {
  display: block;
}

.logo--tablet {
  width: 145px;
  height: 40px;
}

.logo__image--tablet {

}

.logo--desktop {
  width: 147px;
  height: 40px;
}

.logo__image--desktop {

}
