.logo {
  width: 74px;
  height: 23px;
}

.logo--footer {
  width: 145px;
  height: 40px;
}

.logo-icon {

}

.logo-icon--header-small {
  display: block;
}

.logo-icon--header-medium {
  display: none;
}

.logo-icon--header-big {
  display: none;
}

.logo-icon--footer-medium {
  display: block;
}

.logo-icon--footer-big {
  display: none;
}


@media (min-width: $tablet-width) {
  .logo {
    width: 145px;
    height: 40px;
  }

  .logo-icon--header-small {
    display: none;
  }

  .logo-icon--header-medium {
    display: block;
  }

  .logo-icon--header-big {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    width: 147px;
    height: 40px;
  }

  .logo-icon--header-small {
    display: none;
  }

  .logo-icon--header-medium {
    display: none;
  }

  .logo-icon--header-big {
    display: block;
  }

  .logo-icon--footer-medium {
    display: none;
  }

  .logo-icon--footer-big {
    display: block;
  }
}
