.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid $black-color;
}

.main-nav__item {
  border-top: 1px solid $blue-color2;
  border-bottom: 1px solid $black-color;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;
}

.main-nav__link {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: $white-color;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav__link:hover {
  color: $red-color1;
}

.main-nav__link:active {
  opacity: 0.3;
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    border-top: none;
    gap: 10px 79px;
    align-items: flex-start;
  }

  .main-nav__item {
    border-top: none;
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .main-nav__item:last-of-type {
    margin-right: 0;
  }

  .main-nav__link {
    display: block;
    line-height: 18px;
    font-weight: 400;
    text-transform: initial;
    position: relative;
  }

  .main-nav__link:hover {
    color: $red-color1;
  }

  .main-nav__link:active {
    color: $white-color;
    opacity: 0.3;
  }

  .main-nav__link--active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -19px;
    width: 100%;
    height: 2px;
    background: $white-color;
  }

  .main-nav__link--active:hover {
    color: $white-color;
  }

  .main-nav__link--active:active {
    color: $white-color;
    opacity: 1;
  }
}
