.main-nav {
  width: 100%;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid $black-color;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.main-nav__link {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: $white-color;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav__link:hover {
  color: $red-color1;
}

.main-nav__link:active {
  opacity: 0.3;
}

.main-nav__link--active:hover {
  color: $white-color;
}

.main-nav__link--active:active {
  opacity: 1;
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: auto;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__item {
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 16px;
    margin-right: 79px;
  }

  .main-nav__item:last-of-type {
    margin-right: 0;
  }

  .main-nav__link {
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
  }

  .main-nav__link:active {
    color: $white-color;
  }

  .main-nav__link--active {
    position: relative;
  }

  .main-nav__link--active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -16px;
    height: 2px;
    width: 100%;
    background: $white-color;
  }
}
