.main-footer {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__logo {
  margin-bottom: 38px;
}

.main-footer__socials {
  margin-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .main-footer {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 36px;
    padding-bottom: 37px;
  }

  .main-footer__logo {
    margin-bottom: 0;
    margin-right: 18px;
  }

  .main-footer__socials {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .main-footer__copyright {
    margin-top: 10px;
    margin-left: 32px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    padding-top: 70px;
    padding-bottom: 73px;
    padding-left: 130px;
    padding-right: 130px;
  }

  .main-footer__logo {
    margin-right: 38px;
  }
}
