.nav-button {
  padding: 0;
  border: none;
  display: block;
  background: transparent;
}

.nav-button--sandwich {
  width: 50px;
  height: 24px;
}

.nav-button--cross {
  width: 23px;
  height: 23px;
}

.nav-button svg {
  fill: $white-color;
}

.nav-button:hover svg {
  fill: $red-color1;
}

.nav-button:active svg {
  opacity: 0.3;
}

.nav-button__icon--sandwich {
  width: 50px;
  height: 24px;
  display: block;
}

.nav-button__icon--cross {
  width: 23px;
  height: 23px;
  display: none;
}

@media (min-width: $desktop-width) {
  .nav-button {
    display: none;
  }
}
