.page-header {
  padding-top: 30px;
  padding-bottom: 43px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.page-header__title {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: $white-color;
  margin-top: 0;
  margin-bottom: 0;
}
