.page-header {
  padding-top: 27px;
  padding-bottom: 44px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.page-header--catalog {
  padding-bottom: 77px;
}

.page-header__title {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: $white-color;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-top: 66px;
    padding-bottom: 59px;
  }

  .page-header--catalog {
    padding-bottom: 127px;
  }

  .page-header__title {
    font-size: 50px;
    line-height: 68px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-top: 59px;
    padding-bottom: 89px;
    padding-left: 130px;
    padding-right: 130px;
  }
}
