.popup {
  width: $mobile-width;
  box-sizing: border-box;
  position: fixed;
  top: 77px;
  background: lightgreen;
  font-family: "Open Sans", sans-serif;
  padding-top: 38px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.popup--error {

}

.popup--success {
  display: none;
}

.popup__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
}

.popup__text {
  font-size: 14px;
  line-height: 24px;
  color: $blue-color1;
  text-align: center;
  margin-top: 0;
  margin-bottom: 41px;
}

.popup__text--success {
  margin-bottom: 84px;
  padding-left: 6px;
  padding-right: 6px;
}

.popup__button {

}

@media (min-width: $tablet-width) {
  .popup {
    width: 460px;
    left: 50%;
    padding-top: 41px;
    padding-bottom: 52px;
    padding-left: 70px;
    padding-right: 70px;
    margin-left: -230px;
  }

  .popup--success {
    padding-bottom: 50px;
  }

  .popup__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 22px;
  }

  .popup__text {
    font-size: 18px;
    margin-bottom: 33px;
    padding-left: 0;
    padding-right: 0;
  }

  .popup__text--success {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 80px;
  }

  .popup__button {
    margin: auto;
  }
}

@media (min-width: $desktop-width) {
  .popup {
    width: 780px;
    margin-left: -390px;
    padding-top: 41px;
    padding-bottom: 50px;
    padding-left: 160px;
    padding-right: 160px;
  }

  .popup--success {
    padding-bottom: 49px;
  }

  .popup__title {
    margin-bottom: 23px;
  }

  .popup__text {
    margin-bottom: 112px;
  }

  .popup__text--success {
    margin-bottom: 88px;
  }
}
