.post {
  background: white;
}

.post--panorama {
  width: 100%;
}

.post__full-image-link {
  width: 100%;
  height: 180px;
  display: block;
  background: black;
}

.post__full-image-link--panorama {
  width: 100%;
  height: 137px;
}

.post__image {
  width: 100%;
  height: 180px;
  display: block;
  background: black;
}

.post__image--panorama {
  width: 100%;
  height: 137px;
}

.post__inner {
  background: yellow;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 17px;
  padding-right: 10px;
}

.post__inner--panorama {
  margin-left: 20px;
  margin-right: 20px;
}

.post__user {
  margin-top: 0;
  margin-bottom: 0;
}

.post__user-name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: $blue-color1;
}

.post__post-time {
  font-size: 12px;
  line-height: 24px;
  color: $blue-color1;
  font-weight: 300;
  text-transform: uppercase;
}

.post__user-text {
  font-size: 14px;
  line-height: 24px;
  color: $blue-color1;
  margin-top: 0;
  margin-bottom: 11px;
}

.post__like {
  display: block;
  font-size: 12px;
  line-height: 24px;
  color: $red-color1;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding-left: 32px;
  margin-top: 0;
  margin-bottom: 0;
  background: white;
}

.post__like::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 13px;
  height: 12px;
  background: black;
}
