.promo {
  background: $blue-color3;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 23px;
  padding-bottom: 32px;
}

.promo__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: $white-color;
  margin-top: 0;
  margin-bottom: 342px;
  text-align: center;
}

.promo__button {
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

.promo__apps-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: yellow;
  gap: 20px 35px;
  margin-bottom: 20px;
}

.promo__apps-link {
  background: black;
  display: block;
}

.promo__apps-link--apple {
  width: 47px;
  height: 56px;
}

.promo__apps-link--android {
  width: 43px;
  height: 47px;
  margin-top: 6px;
}

.promo__apps-link--microsoft {
  width: 44px;
  height: 41px;
  margin-top: 12px;
}

.promo__available-for {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: $white-color;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .promo {
    padding-top: 93px;
    padding-bottom: 114px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 300px 1fr;
  }

  .promo__title {
    grid-column: 1;
    font-size: 40px;
    line-height: 48px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
  }

  .promo__button {
    grid-column: 1;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 46px;
  }

  .promo__apps-list {
    grid-column: 1;
    padding-right: 3px;
    margin-bottom: 32px;
  }

  .promo__apps-link--android {
    margin-top: 5px;
  }

  .promo__apps-link--microsoft {
    margin-top: 8px;
  }

  .promo__available-for {
    grid-column: 1;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding-top: 99px;
    padding-bottom: 125px;
    padding-left: 130px;
    padding-right: 130px;
  }

  .promo__title {
    font-size: 50px;
    line-height: 68px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 36px;
  }

  .promo__button {
    margin-bottom: 67px;
  }

  .promo__apps-list {
    margin-bottom: 0;
    padding-left: 0px;
    padding-right: 2px;
    gap: 20px 35px;
    margin-bottom: 52px;
  }

  .promo__apps-link--android {
    margin-top: 8px;
  }

  .promo__apps-link--microsoft {
    margin-top: 12px;
  }
}
