.rates {
  background: lightgreen;
  padding-top: 100px;
  padding-bottom: 40px;
}

.rates__wrap {
  position: relative;
  height: 282px;
  overflow: hidden;
  background: black;
  margin-bottom: 41px;
}

.rates__table {
  position: absolute;
  top: 0;
  // left: 0;
  left: calc(50% - 418px);
  // right: 0;
  background: lightblue;
  border-collapse: collapse;
  width: 836px;
  border: 2px solid $gray-color3;
}

.rates__cell {
  border: 2px solid $gray-color3;
  width: 276px;
  box-sizing: border-box;

}

.rates__empty-cell {
  display: none;
}

.rates__top-header-cell {
  line-height: 30px;
  color: $white-color;
  text-transform: uppercase;
  background: $blue-color1;
  padding-top: 12px;
  padding-bottom: 29px;
}

.rates__rate-name {
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: -3px;
}

.rates__rate-cost {
  display: block;
  font-size: 18px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}

.rates__left-header-cell {
  display: none;
}

.rates__content-cell {
  padding-top: 0;
}

.rates__cell-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 18px;
  padding-top: 13px;
  padding-bottom: 14px;
}

.rates__content-text {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $blue-color1;
}

.rates__content-mark {

}

.rates__content-mark--yes {
  width: 31px;
  height: 21px;
  background: green;
}

.rates__content-mark--no {
  width: 27px;
  height: 27px;
  background: red;
}
