.slider-reviews {
  text-align: center;
  padding-top: 42px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.slider-reviews__slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
}

.slider-reviews__slider-item {
  display: flex;
  flex-direction: column;
}

.slider-reviews__slider-user {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.slider-reviews__slider-user-info {
  display: none;
}

.slider-reviews__slider-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 30px;
  color: $blue-color1;
}

.slider-reviews__prev {
  display: none;
}

.slider-reviews__next {
  display: none;
}

@media (min-width: 660px) {
  .slider-reviews {
    padding-top: 99px;
    padding-bottom: 0;
  }

  .slider-reviews__slider-list {
    margin-bottom: 35px;
  }

  .slider-reviews__slider-user {
    font-size: 20px;
    margin-bottom: 0;
    order: 2;
  }

  .slider-reviews__slider-user-info {
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: $blue-color1;
    margin-top: 0;
    margin-bottom: 0;
    order: 3;
  }

  .slider-reviews__slider-text {
    font-size: 18px;
    margin-bottom: 36px;
  }
}

@media (min-width: $desktop-width) {
  .slider-reviews {
    padding-top: 184px;
    padding-bottom: 30px;
    padding-left: 130px;
    padding-right: 130px;
    position: relative;
  }

  .slider-reviews__slider-list {
    margin-bottom: 0;
    padding-left: 80px;
    padding-right: 80px;
  }

  .slider-reviews__slider-user {
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 24px;
  }

  .slider-reviews__slider-user-info {
    font-size: 18px;
  }

  .slider-reviews__slider-text {
    margin-top: 0;
    margin-bottom: 36px;
    font-size: 18px;
  }

  .slider-reviews__prev {
    position: absolute;
    top: 213px;
    left: 130px;
    width: 22px;
    height: 41px;
    background: red;
    font-size: 0;
    border: 0;
    cursor: pointer;
    display: block;
  }

  .slider-reviews__next {
    position: absolute;
    top: 213px;
    right: 130px;
    width: 22px;
    height: 41px;
    background: red;
    font-size: 0;
    border: 0;
    cursor: pointer;
    display: block;
  }
}
