.special {
  padding-top: 95px;
  padding-bottom: 70px;
  padding-left: 20px;
  padding-right: 20px;

  background-repeat: no-repeat;
  background-image: url("../../img/timer@1x.png");
  background-size: 238px auto;
  background-position: calc(50% - 191px) calc(50% + 2px);

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/timer@2x.png");
  }
}

.special__inner {
  padding-left: 50%;
}

.special__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  padding-right: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.special__text {
  font-size: 14px;
  line-height: 24px;
  color: $blue-color1;
  margin-top: 0;
  margin-bottom: 10px;
}

.special__link {
  font-size: 14px;
  line-height: 24px;
  color: $red-color1;
  margin-bottom: 10px;
}

@media (min-width: $desktop-width) {
  .special {
    padding-top: 129px;
    padding-bottom: 112px;
    padding-left: 130px;
    padding-right: 130px;
    background-color: $gray-color3;

    background-size: 298px auto;
    background-position: 131px 34px;
  }

  .special__inner {
    padding-left: 39.4%;
  }

  .special__title {
    font-size: 30px;
    line-height: 30px;
    padding-right: 0;
    margin-bottom: 25px;
  }

  .special__text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .special__link {
    font-size: 18px;
    line-height: 30px;
  }
}
