.textarea {
  height: 171px;
  border: 2px solid $gray-color3;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: $blue-color1;
}

@media (min-width: $tablet-width) {
  .textarea {
    height: 162px;
    padding-top: 14px;
  }
}

@media (min-width: $desktop-width) {
  .textarea {
    height: 98px;
    padding-top: 13px;
  }
}
