$white-color: #ffffff;
$black-color: #000000;
$blue-color1: #283645;
$blue-color2: #485461;
$blue-color3: #1d2631;
$green-color1: #2aab6d;
$gray-color1: #f2f2f2;
$gray-color2: #bfc3c7;
$gray-color3: #e5e5e5;
